.signup-section {
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    background: #000;
}

.signup-form {
    padding: 50px;
    background-color: #517E7C;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 50vh;
    text-align: center;
    border-radius: 5px;
}

.form-username {
    font-size: 30px;
}

.form-email {
    font-size: 30px;
}

.form-password {
    font-size: 30px;
}

.form-input {
    height: 30px;
    margin-left: 20px;
}

.signup-username {
    padding: 50px;
}

.signup-email {
    padding: 50px;
}

.signup-password {
    padding: 50px;
}

#signup-button {
    background-color: aliceblue;
}